<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">MedipolAVM <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">Hakkımızda</a>
      </li>
      

      
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Kategoriler</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="giyimKategori">Giyim</a>
        <a class="dropdown-item" href="teknolojiKategori">Teknoloji</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="evKategori">Ev eşyası</a>
        <a class="dropdown-item" href="ekKategori">Medipol Ödevleri :P</a>

      </div>
    </li>

          
      
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/iletisim">İletişim</a>
      </li>

      {% if request.user.is_authenticated %}
        <li class="nav-item">
        <a class="nav-link" href="/user/logout">Çıkış Yap</a>
      </li> 

       <li class="nav-item">
        <a class="nav-link" href="/articles/dashboard">Hesabı yönet</a>
      </li>
      {% else %}
        <li class="nav-item">
        <a class="nav-link" href="/user/login">Giriş Yap</a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" href="/user/register">Kayıt Ol</a>
      </li>  
        
      {% endif %}

      
          


      


      


      


    </ul>
      
  </div>
</nav>